<h1 class="text-center mt-4">Welcome to <%= @user.username %>'s page</h1>

<div class="container">
  <div class="text-center">
    <%= gravatar_for @user, size: 150 %>
    <div class="text-center mt-4">
      <%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-outline-info" %>
    </div>
  </div>
</div>
<h4 class="text-center mt-4"> <%= @user.username %>'s articles</h4>
<div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
</div>
<%= render 'articles/article', obj: @user.articles %>

<div class="flickr_pagination mb-4">
    <%= will_paginate @articles, :container => false %>
</div>